.Home{
  height: 40vh;
  background-color: yellow;
}

.About{
  height: 40vh;
  background-color: blueviolet;
}

.Nav{
  height: 60%;
  background-color: lightsalmon;
}
.Nav{
  height: 60%;
  background-color: rgb(122, 255, 144);
}

.Contact{
  height: 60%;
  background-color: rgb(95, 104, 235);
}